<div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="/home">Home</a>
                    <a class="breadcrumb-item text-dark" href="/usercart">Shop</a>
                    <span class="breadcrumb-item active">Checkout</span>
                </nav>
            </div>
        </div>
    </div>
<section>

    <div class="container " >
        <form action="" id="checkoutform">
            <div class="row">
                
                <div class="col-md-6">
                    <h2 class="text-info font-weight-bold">ADDRESS</h2>
                    <div>
                    <label for="">Name</label>
                    <input class="form-control" type="text" id="name" name="name" required>
                    <label for="">Address</Address></label>
                    <input class="form-control" type="text" id="address" name="address" required>
                    <label for="">Mobile</label>
                    <input class="form-control" type="text" id="mobile" name="mobile" required >
                    <label for="">Place</label>
                    <input class="form-control" type="text" id="place" name="place" required>
                    <label for="">Pin code</label>
                    <input class="form-control" type="text" id="pincode" name="pincode" required>
                    <input type="text" name="userId" value="{{user._id}}" hidden>


                    </div>
                </div>
                <div class="col-md-4" >
                    <br><br><br>
                    <div class="container mt-5  checkout  ">
                        {{!-- <h5 class="text-bold">Total Amount : RS. {{total}}
                        </h5> --}}
                        <div class="d-flex justify-content-between mt-2">
                            <h5>Total</h5>
                            <h5>: {{total}}</h5>
                        </div>
                        <hr>
                        <div class="payment">
                            <p>Payment Method</p>
                            <label for="" class="radio-inline">
                                <input  type="radio" name="payment-method" value="COD" required >COD
                            </label>
                            <label for=" " class="radio-inline mt-2 ml-2">
                                <input type="radio" name="payment-method" value="ONLINE" required>Online Payment
                            </label>
                           
                            
                            <div >
                                <button class="btn btn-primary float-right" type="submit" >Checkout</button>
                                </div>

                        </div>
                    </div>
                </div>
                     
            </div>
        </form>
         
    </div>
</section>
<script>
        $("#checkoutform").submit((e)= >{
            e.preventDefault()
            $.ajax({
                url:"/placeorder",
                method:'post',
                data:$('#checkoutform').serialize(), 
                success:(response)=>{
                    //alert(response)
                    if(response.status){
                        
                        location.href='/codorderplacedsuccess'
                    }
                }
            })
        })

    </script>


