

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Validation</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/signup.css">
    <script defer src="/public/js/signup.js"></script>
</head>
<body>
    <div class="container">
        <form id="form" action="/usersignup" method="post">
        <div class="d-flex align-items-center  pb-1 mt-2">
                    <span class="h1 fw-bold mb-0"><span class="h1 text-uppercase text-white bg-dark px-2">E-</span>
                    <span class="h1 text-uppercase text-dark bg-warning px-2 ml-n1">SHOES</span></span>
                  </div>
        {{!-- <h2 class="text-secondary mt-4 font-weight-bold">Create new account</h2> --}}
        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
             
            <div class="input-control">
                <label for="name">Name</label>
                <input id="name" name="name" type="text">
                <div class="error"></div>
            </div>
            <div class="input-control">
                <label for="email">Email</label>
                <input id="email" name="email" type="text">
                <div class="error"></div>
            </div>
            <div class="input-control">
                <label for="password">Password</label>
                <input id="password"name="password" type="password">
                <div class="error"></div>
            </div>
            
            <button type="submit">Sign Up</button>
            <div class="text-center mt-2">
                <p>Already have a account? <a href="/userlogin">log in</a></p>

            </div>
        </form>
    </div>
</body>
</html>




***********************************checkout page changeproductquantity


<!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="/home">Home</a>
                    <a class="breadcrumb-item text-dark" href="/usercart">Shop</a>
                    <span class="breadcrumb-item active">Checkout</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <form action="" id="checkoutform">
        
    <!-- Checkout Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-md-8">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Address</span></h5>
                <div class="bg-light p-30 mb-5">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>First Name</label>
                            <input class="form-control" type="text" placeholder="John" id="name" required >
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Email</label>
                            <input class="form-control" type="email" placeholder="smith" id="email" required>
                        </div>
                        
                        <div class="col-md-6 form-group">
                            <label>Mobile No</label>
                            <input class="form-control" type="text" placeholder="+91 8589794576" id="mobile" required >
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address</label>
                            <input class="form-control" type="text" placeholder="address" id="address" required>
                        </div>
                        
                        <div class="col-md-6 form-group">
                            <label>City</label>
                            <input class="form-control" type="text" placeholder="cherupuzha" id="city" required>
                        </div>
                       
                        <div class="col-md-6 form-group">
                            <label>Pin Code</label>
                            <input class="form-control" type="text" placeholder="123" id="pincode"  required>
                        </div>
                       
                       
                    </div>
                </div>
              
            </div>
            <div class="col-md-4">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Order Total</span></h5>
                <div class="bg-light p-30 mb-5">
                    {{!-- <div class="border-bottom">
                        <h6 class="mb-3">Products</h6>
                        <div class="d-flex justify-content-between">
                            <p>Product Name 1</p>
                            <p>$150</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p>Product Name 2</p>
                            <p>$150</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p>Product Name 3</p>
                            <p>$150</p>
                        </div>
                    </div> --}}
                    {{!-- <div class="border-bottom pt-3 pb-2">
                        <div class="d-flex justify-content-between mb-3">
                            <h6>Subtotal</h6>
                            <h6>$150</h6>
                        </div>
                       
                    </div> --}}
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            <h5>Total</h5>
                            <h5>: {{total}}</h5>
                        </div>
                    </div>
                </div>
                <div class="mb-5">
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Payment Method</span></h5>
                    <div class="bg-light p-30">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="paypal" required>
                                <label class="custom-control-label" for="paypal">COD</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="directcheck" required>
                                <label class="custom-control-label" for="directcheck">Online</label>
                            </div>
                        </div>
                        
                        <button class="btn btn-block btn-primary font-weight-bold py-3" type="submit">Place Order</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
    <!-- Checkout End -->

    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

    <script>
        $("#checkoutfrom").submit((e)=>{
            e.preventDefault()
            $.ajax({
                url:"/placeorder",
                method:'post',
                data:$('#checkoutform').serialize(), 
                success:(response)=>{
                    alert(response)
                }
            })
        })

    </script>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>




<div class="col-md-6 ">
                        <h3 class="text-info">ADDRESS</h3>
                        <div>
                            <label for="">Name</label>
                            <input class="form-control" type="text" name="" id="name">
                            <label for="">Address</label>
                            <input class="form-control" type="text" name="" id="address">
                            <label for="">Place</label>
                            <input class="form-control" type="text" name="" id="place">
                            <label for="">Mobile No:</label>
                            <input class="form-control" type="text" name="" id="mobile">
                            <label for="">Pin code</label>
                            <input class="form-control" type="text" name="" id="pincode">
                            
                        </div>

                    </div>




    

